@font-face {
  font-family: 'SF Pro Display';
  src: url('SF-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; Позволяет использовать резервный шрифт во время загрузки */
}
/* Обнуление стилей */
*{
padding: 0;
margin: 0;
border: 0;
scroll-behavior: smooth;
}
*,*::before,*::after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;
width: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
.wrapper{

    max-width: 1820px;
    margin: 0 auto;
    width: 100%;
}
/* Стили обнулены */
.startScreen{
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}
@media screen and (min-width:1023px) {
    .startScreen{
        min-height: 930px;
    }
}
.startScreen__text{
    color: #0083C3;
    margin: 120px auto 0;
    max-width: 730px;
    font-family: "SF Pro Display",sans-serif;
    font-weight: 700;
    font-size: 43px;
    line-height: 100%;
    text-align: center;
    position: relative;
    z-index: 5;
}
@media screen and (max-width: 800px) {
    .startScreen__text{
        margin: 40px 20px 0;
        max-width: 100%;
        font-size: 29px;
    }
}
.ball{
    position: absolute;
    background-color: #008DD2;
    border-radius: 50%;
}
.headerContainer{
    width: 100%;
    position: sticky;
    height: 55px;
    background-color: #fff;
    top: 0;
    padding: 12px 42px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
} 
@media screen and (max-width: 480px) {
    .headerContainer{
        padding: 12px 20px;
    }
} 
.logo{
    object-fit: cover;
    width: 210px;
    height: 44px;
}
.pc-menu-container{
    display: flex;
    gap: 50px;
}
@media screen and (min-width: 1101px) {
    .mobile-menu-container{
        display: none;
    }
}
@media screen and (max-width: 1100px) {
    .pc-menu-container{
        display: none;
    }
}
.menu__btn{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #002436;
    cursor: pointer;
    position: relative;
}
.menu__btn-mobile{
    color: #fff;
    text-transform: uppercase;
}
.menu__btn:hover{
    font-weight: 500;
    color: #008DD2;
}
.underline-effect:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #0083C3;
    position: absolute;
    left: 0;
    bottom: 0px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
}
.underline-effect:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
}
.startScreen__btns{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 15px auto 0;
    width: 432px;
    position: relative;
    z-index: 5;
}
@media screen and (max-width: 550px) {
    .startScreen__btns{
        flex-direction: column;
        width: 100%;

    }
}
.startScreen__btn{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 10px 32px;
    border-radius: 40px;
    background-color: #002436;
    cursor: pointer;
}
.startScreen__btn-light{
    background-color: #0083C3;
}
.startScreen__tualet{
    width: 500px;
    height: 650px;
    position: relative;
    margin: 20px auto 0;
}
@media screen and (max-width: 501px) {
    .startScreen__tualet{
        width: 100%;
        margin: 10px auto 0;
    }
}
.startScreen__tualet-follow-image{
    width: 500px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-out;
    object-fit: cover;
    z-index: 5;
}
@media screen and (max-width: 501px) {
    .startScreen__tualet-follow-image{
        width: 346px;
        left: calc(50% - 173px);
    }
}
.WhomWrap{
    margin-left: 155px;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 1405px) {
    .WhomWrap{
        margin-left: 40px;
    }
}
@media screen and (max-width: 1023px) {
    .WhomWrap{
        margin-left: 20px;
    }
}
.whomBaloon{
    position: absolute;
    left: -150px;
    top: 60px;
    border-radius: 50px;
    height: 85px;
    width: 85px;
    background-color: #008DD24D;
}
.subTitle{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #0083C3; 
}
@media screen and (max-width: 480px) {
    .subTitle{
        font-size: 29px;
    }
    .servicesTitle{
        font-size: 29px !important;
    }
}
.WhomTitle{
    margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
    .WhomTitle{
        margin-bottom: 30px;
    }
}
.whomSlider{
    height: 214px;
}
.whomSlide{
    height: 214px !important;
    width: 309px !important;
}
@media screen and (max-width: 640px) {
    .whomSlide{
        width: 100% !important;
    }
}
.whomSlideImg{
    height: 189px;
    width: 309px;
    object-fit: cover;
}
@media screen and (max-width: 640px) {
    .whomSlideImg{
        width: 100%;
    }
}
.whomSlideText{
    height: 25px;
    border: 1px solid #0083C3;
    padding-left: 6px;
    width: 309px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #0083C3;
}
@media screen and (max-width: 640px) {
    .whomSlideText{
        width: 100%;
    }
}
.whomText{
    max-width: 900px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #002436;
}
@media screen and (max-width: 600px) {
    .whomText{
        max-width: none;

    }
}
.whomTextWrapper{
    display: flex;
    margin-right: 155px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    gap: 15px;
}
@media screen and (max-width: 1023px) {
    .whomTextWrapper{
        margin-right: 20px;
    }
}
@media screen and (max-width: 600px) {
    .whomTextWrapper{
        flex-direction: column-reverse;
    }
}
.whomBtns{
    display: flex;
    gap: 45px;
}
.servicesWrap{
    width: 100%;
    margin-top: 90px;
    padding: 0 40px;
    margin-bottom: 85px;
}
@media screen and (max-width: 1023px) {
    .servicesWrap{
        padding: 0 20px;
        margin-bottom: 45px;
    }
}
@media screen and (max-width: 359px) {
    .servicesWrap{
        padding: 0 5px;
        margin-bottom: 45px;
    }
}
.servicesTitle{
    margin-left: 115px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #0083C3;
    margin-bottom: 40px;
}
@media screen and (max-width: 1405px) {
   .servicesTitle{
        margin-left: 0px;
    } 
}
@media screen and (max-width: 1023px) {
   .servicesTitle{
        margin-bottom: 30px;
    } 
}
@media screen and (max-width: 359px) {
    .servicesTitle{
        margin-left: 15px;
    }
}
.servicesList{
    width: 100%;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 14px;
    grid-template-columns: 323px repeat(12, 1fr);
    grid-template-rows: repeat(5, 193px);
}
@media screen and (max-width: 1405px) {
    .servicesList{
        grid-template-rows: repeat(8, 228px) 208px 228px 228px 228px;
        grid-row-gap: 9px;
        grid-column-gap: 9px;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 359px) {
    .servicesList{
        grid-row-gap: 5px;
        grid-column-gap: 5px;
    }
}
.services__big{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: #0083C3;
    border-radius: 38px;
    position: relative;
    display: flex;
    align-items: flex-end;
}
@media screen and (max-width: 1405px) {
    .services__big{
        grid-row-start: 4;
        grid-row-end: 7;
    }
}
.services__big-img{
    width: 100%;
    max-width: 323px;
}
.services__element{
    border: 3px solid #0083C3;
    border-radius: 38px;
    position: relative;
    padding: 22px;
    display: flex;
    align-items: flex-end;
}
.services__element-description{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .services__element-description{
        flex-direction: column;
        gap: 4px;
         align-items: flex-start;
    }
}
.services__element-description-name{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0083C3;
}
@media screen and (max-width: 700px) {
    .services__element-description-name{
        font-size: 18px;
    }
}
@media screen and (max-width: 459px) {
    .services__element-description-name{
        font-size: 16px;
    }
}
.services__element-description-price{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: lowercase;
    color: #0083C3;
}
.services__element svg{
    position: absolute;
    top: 10px;
    right: 9px;
}
.services__element-long{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
@media screen and (max-width: 1405px) {
    .services__element-long{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
.services__element-feedback{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px
}
.services__element-feedback-phoneWrap{
    width: 100%;
    border-radius: 50px;
    background-color: #F9F9F9;
    padding: 15px 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1405px) {
    .services__element-feedback-phoneWrap{
        justify-content: center;
    }
}
.services__element-feedback-phoneBtnWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}
.services__element-feedback-phoneBtnWrap p{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #BDBDBD;
}
.services__element-feedback-phoneBtnWrap a{
    cursor: pointer;
    text-decoration: underline;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #0083C3;
}
.services__element-feedback-phoneBtn{
    width: 100%;
    height: 45px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #0083C3;
    border-radius: 50px;
}
.services__element-long3{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
}
@media screen and (max-width: 1405px) {
    .services__element-long3{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }
}
.services__element-long2{
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 2;
}
@media screen and (max-width: 1405px) {
    .services__element-long2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
.services__element-long4{
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 4;
    grid-row-end: 5;
}
@media screen and (max-width: 1405px) {
    .services__element-long4{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }
}
@media screen and (max-width: 1405px) {
    .services__element-long3{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 9;
    }
}
.services__element-short{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 6; 
}
@media screen and (max-width: 1405px) {
    .services__element-short{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2; 
    }
}
.services__element-short4{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 6; 
}
@media screen and (max-width: 1405px) {
    .services__element-short4{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3; 
    }
}
.services__element-short2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 10; 
}
@media screen and (max-width: 1405px) {
    .services__element-short2{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3; 
    }
}
.services__element-short5{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 10;
    background-color: #002436;
}
@media screen and (max-width: 1405px) {
    .services__element-short5{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;
    }
}
.services__element-short3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 10;
    grid-column-end: 14; 
}
@media screen and (max-width: 1405px) {
    .services__element-short3{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3; 
    }
}
.services__element-short6{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 10;
    grid-column-end: 14; 
}
@media screen and (max-width: 1405px) {
    .services__element-short6{
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 2;
        grid-column-end: 3; 
    }
}
.services__element-short7{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 6; 
}
.services__element-short8{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 6;
    grid-column-end: 10;
}
.services__element-short9{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 10;
    grid-column-end: 14;
}
@media screen and (max-width: 1405px) {
    .services__element-short7{
        grid-row-start: 10;
        grid-row-end: 11;
        grid-column-start: 1;
        grid-column-end: 3; 
    }
    .services__element-short8{
        grid-row-start: 11;
        grid-row-end: 12;
        grid-column-start: 1;
        grid-column-end: 3; 
    }
    .services__element-short9{
        grid-row-start: 12;
        grid-row-end: 13;
        grid-column-start: 1;
        grid-column-end: 3; 
    }
}
.aboutWrap{
    margin: 0 40px 130px;
    border-radius: 38px;
    background-color: #0083C3;
    padding: 12px 105px 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}
@media screen and (max-width: 1178px) {
    .aboutWrap{
        padding: 25px 15px;
    }
}
@media screen and (max-width: 1023px) {
    .aboutWrap{
        margin: 0 20px 100px;
    }
}
@media screen and (max-width: 916px) {
    .aboutWrap{
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    .aboutWrap{
        margin: 0 5px 100px;
    }
}
.AboutTitle{
    color: #fff;
    margin-bottom: 26px;
    margin-top: 28px;
}
@media screen and (max-width: 916px) {
    .AboutTitle{
        margin-top: 0px;
    }
}
.aboutText{
    max-width: 553px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
@media screen and (max-width: 916px) {
    .aboutText{
        max-width: 100%;
    }
}
.tualetiks{
    display: flex;
    gap: 0;
    align-items: flex-end;
}
@media screen and (max-width: 916px) {
    .tualetiks{
        width: 100%;
        justify-content: center;
    }
}
.expWrap{
    width: 100%;
    padding: 0 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    gap: 20px;
}
@media screen and (max-width: 1178px) {
    .expWrap{
        padding: 0 20px;
    }
}
@media screen and (max-width: 900px) {
    .expWrap{
        flex-direction: column;
        gap: 20px;
    }
}
.expText{
    margin: 40px 0 30px;
    max-width: 553px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #002436;
}
@media screen and (max-width: 900px) {
    .expText{
       margin: 30px 0 30px; 
       max-width: 100%;
       width: 100%;
    }
}
.expList{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.expList__elem{
    display: flex;
    gap: 10px;
    align-items: center;
}
.expList__elem svg{
    flex-shrink: 0;
}
.expList__elem p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.expImg{
    object-fit: contain;
    width: 474px;
    height: auto;
    border-radius: 38px;
    border: 1px solid #008DD2;
}
@media screen and (max-width: 536px) {
    .expImg{
        width: 100%;
        height: auto;
    }
}
.contactWrap{
    margin: 80px 0;
    width: 100%;
}
.contactTitle{
    margin-left: 155px;
    margin-bottom: 40px;
    user-select: none;
}
@media screen and (max-width: 1405px) {
    .contactTitle{
        margin-left: 40px;
    }
}
@media screen and (max-width: 1023px) {
    .contactTitle{
        margin-left: 20px;
        margin-bottom: 30px;
    }
}
.mapWrap{
    width: 100%;
    height: 620px;
    background-color: #f3f3f3;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 480px) {
    .mapWrap{
        height: 420px;
    }
}
.footerWrap{
    width: 100%;
    padding: 50px 40px;
    background-color: #002436;
    border-radius: 38px 38px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
@media screen and (max-width: 1023px) {
    .footerWrap{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}
@media screen and (max-width: 576px) {
    .footerWrap{
        padding: 40px 20px;
    }
}
.logo-footer{
    object-fit: contain;
    width: 345px;
    height: 71px;
    margin-bottom: 30px;
}
@media screen and (max-width: 360px) {
    .logo-footer{
        width: 100%;
        height: auto;
    }
}
.footerTitle{
    color: #fff;
    max-width: 345px;
    font-family: "SF Pro Display",sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
}
.footerMenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 30px;
}
@media screen and (max-width: 1400px) {
    .footerMenu{
       grid-column-gap: 15px;
        grid-row-gap: 15px; 
    }
}
@media screen and (max-width: 1332px) {
    .footerMenu{
       display: none;
    }
}
.footerMenu a{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.footerInfo{
    display: flex;
    flex-direction: column;
    gap: 24px
}
.footerInfo__contact{
    display: flex;
    gap: 32px;
    align-items: center;
}
@media screen and (max-width: 530px) {
    .footerInfo__contact{
        flex-direction: column;
        gap: 15px;
    }
}
.footerInfo__contactAlone{
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
}
.footerInfo__contactAlone p{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    color: #FFFFFF; 
}
.footerBtn{
    width: 460px;
    border-radius: 42px;
    background-color: #fff;
    padding: 14px 0;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: lowercase;
    color: #002436;
    cursor: pointer;
}
@media screen and (max-width: 530px) {
    .footerBtn{
        width: 100%;
    }
}
.v1vaDev{
    display: flex;
    gap: 22px;
    cursor: pointer;
    align-items: center;
    position: relative;
}
@media screen and (max-width: 1023px) {
    .v1vaDev{
        justify-content: center;
    }
}
.v1vaDev p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}
.underline-effect-viva:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -2px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
}
.underline-effect-viva:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
}
.services__element-feedback-phoneWrap svg{
    position: inherit;
}
.phone-input-styles{
    width: 187px;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.07em;
    color: #002436;
    background-color: #F9F9F9;
}
.contactBalloon{
    z-index: 4000;
    position: absolute;
    top: 110px;
    left: 115px;
    width: 365px;
    border-radius: 20px;
    background-color: #0083C3;
    padding: 40px 20px 50px;
}
@media screen and (max-width: 767px) {
    .contactBalloon{
        top: 50px;
        left: 15px;
    }
}
@media screen and (max-width: 480px) {
    .contactBalloon{
        padding: 20px 20px 30px;
        width: calc(100% - 30px);
    }
}
.contactBalloonWrap{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.contactBalloonElem{
    display: flex;
    gap: 15px;
    align-items: center;
}
.contactBalloonElem p{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}
@media screen and (max-width: 480px) {
    .contactBalloonElem p{
        font-size: 18px;
        line-height: 140%;
    }
}
.contactBalloonElem svg{
    width: 32px;
}
.contactBalloonBall{
    position: absolute;
    bottom: -30px;
    right: 0px;
    height: 26px;
    width: 26px;
    background-color: #fff;
    border-radius: 50%;
}
@media screen and (max-width: 480px) {
    .contactBalloonBall{
        bottom: -15px;
    }
}
.burger {
    width: 30px;
    height: 15px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
}

.burger-line {
    width: 100%;
    height: 3px;
    background-color: #0083C3;
    position: absolute;
    left: 0;
    transition: all 0.4s ease;
}

.burger-line:nth-child(1) {
    top: 0;
}

.burger-line:nth-child(2) {
    top: 10px;
}

.burger-line:nth-child(3) {
    top: 20px;
}

/* Анимация: полоски -> крестик */
.burger.active .burger-line:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.burger.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger.active .burger-line:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

/* Сайдбар/меню */
.menu {
    position: fixed;
    top: 55px;
    right: -250px;
    width: 250px;
    height: calc(100vh - 55px);
    background-color: #002436;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: right 0.4s ease;
    z-index: 9999;
    justify-content: center;
}

.menu.open {
    right: 0;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

.menu a:hover {
    background-color: #444;
}
.contactUs{
    position: fixed;
    z-index: 9998;
    background-color: #0083C3;
    border: 1px solid #002436;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    animation: pulse 2s infinite; /* Анимация длится 2 секунды и повторяется бесконечно */
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1); /* Увеличиваем до 110% */
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (max-width: 1023px) {
    .contactUs{
        display: none;
    }
}
.contactUsLinks{
    height: auto;
    max-height: 0px;
    overflow: hidden;
    background: #D9D9D9;
    transition: max-height 1s;
    transition: padding 0.3s;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9997;
    right: 60px;
    bottom: 70px;
    width: 60px;
    padding: 0px 5px;
}
@media screen and (max-width: 1023px) {
    .contactUsLinks{
        display: none;
    }
}
.contactUsLinksOpen{
    max-height: 235px;
    padding: 34px 5px 65px;
}
.contactUsMobile{
    display: flex;
    gap: 20px;
    align-items: center;
}
.feedBackForm{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10001;
    display: none;
    justify-content: center;
    align-items: center;
}
.feedBackFormActive{
    display: flex;
}
.feedBackFormContent{
    border-radius: 38px;
    background-color: #002436;
    padding: 45px 50px;
}
@media screen and (max-width: 480px) {
    .feedBackFormContent{
        padding: 45px 20px 25px;
    }
}
.feedBackFormContentTitle{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    max-width: 385px;
    position: relative;
    margin-bottom: 35px;
}
.feedBackFormContentTitle span{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    font-family: 'SF Pro Display', sans-serif;
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: -35px;
}
@media screen and (max-width: 480px) {
    .feedBackFormContentTitle span{
        right: 10px;
        top: -40px;
    }
}
.workSlideImg{
    height: 214px;
}
.whomList{
    max-width: 100%;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #002436;
    margin-top: 15px;
}
@media screen and (max-width: 1023px) {
    .whomList{
        margin-right: 20px;
        font-size: 15px;
        line-height: 17px;
    }
}